@import url('font-face.css');
body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
html h1,h2,h3,h4,h5,h6 
{
    margin: 0;
    padding: 0;
}
html ul li 
{
    margin: 0;
    padding: 0;
}
input[type="text"],input[type="password"],input[type="radio"],input[type="checkbox"]
{
    margin: 0;
    padding: 0;
}
.impect-header,
.header,
.top-fixed-header
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px;
    background-color: #008375;
    display: flex;
    flex-direction: row;

}
.impect-logo
{
    width:30%;
    height: auto;
    margin: 0;
    padding: 5px;
    margin-left: 10%;
    font-size: 28px;
    letter-spacing: 2px;
    color: white;
    font-family: cursive;
}
.impect-navbar 
{
    width: 70%;
    height: auto;
    margin: 0;
    padding: 5px;
}
.navbar-link li 
{
    display: inline-block;
    padding: 0px 20px;

}
.navbar-link a 
{
    list-style-type: none;
    text-decoration: none;
    color: white;

}
.impect-slider,
.slider,
.hero-section
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 25px;
    display: flex;
    flex-direction: row;
    background-color: #008375;
}
.impect-slider-text
{
    width: 60%;
    height: auto;
    margin: 0;
    padding: 10px;
    margin-left: 8%;
}
.impect-slider-text h1 
{
    text-align: left;
    font-family: cursive;
    letter-spacing: 4px;
    font-size: 45px;
    color: white;
}
.impect-slider-text p 
{
    text-align: justify;
    width: 80%;
    height: auto;
    color: white;
}
.fa-play-circle-o
{
    font-size: 20px !important;

}
#slider-btn 
{
    width: 180px;
    height: auto;
    margin: 0;
    padding: 8px;
    border: none;
    background-color: #008375;
    box-shadow: 1px 0px 0px 1px white;
    border-radius: 15px;
}
.impect-slider-img
{
    width: 40%;
    height: auto;
    margin: 0;
    padding: 10px;
}

.impect-content 
{
    width: 100%;
    height: auto;
}
.impect-box-content
{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    background-color: #008375;
    display: flex;
    flex-direction: row;
    
}
.impect-box-grid1,
.impect-box-grid2,
.impect-box-grid3,
.impect-box-grid4
{
    width: 20%;
    height: 250px;
    background-color: #047a6a;
    border-radius:5px;
    margin: 10px;
    margin-left: 3%;
    margin-top: 4%;
    padding: 5px;
    font-size: 20px;
    color: white;
}
.fa-tv,.fa-map-marker,.fa-diamond,.fa-location-arrow
{
    font-size: 50px !important;
    color: white;
    padding: 25px;
}
